{:name re-frame.db, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires {reagent reagent.core, reagent.core reagent.core}, :imports nil, :defs {app-db {:name re-frame.db/app-db, :file "resources/public/js/compiled/devcards_out/re_frame/db.cljs", :line 10, :column 1, :end-line 10, :end-column 12, :meta {:file "/Users/damien/dev/learn-reframe/resources/public/js/compiled/devcards_out/re_frame/db.cljs", :line 10, :column 6, :end-line 10, :end-column 12}}}}